body {
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
a {
  text-decoration: none;
}
abbr,
acronym {
  border: 0;
}
header,
article,
section,
nav,
figure,
aside,
hgroup,
footer {
  display: block;
}
html {
  font-size: 62.5%;
}
body,
html {
  height: 100%;
}
html,
html a {
  -webkit-font-smoothing: antialiased !important;
}
select::-ms-expand {
  display: none;
}
span strong,
p strong {
  font-weight: bold;
}
span em,
p em {
  font-style: italic;
}
p strong em,
p em strong {
  font-style: italic;
  font-weight: bold;
}
label {
  font-size: 14px;
  cursor: pointer;
}
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.a11y {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.hide {
  display: none;
}
#responsive-js-flag {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1;
}
@media only screen and (min-width: 600px) {
  #responsive-js-flag {
    z-index: 2;
  }
}
@media only screen and (min-width: 800px) {
  #responsive-js-flag {
    z-index: 3;
  }
}
@media only screen and (min-width: 1050px) {
  #responsive-js-flag {
    z-index: 4;
  }
}
body {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #414042;
}
p,
address,
li {
  line-height: 20px;
  margin-bottom: 10px;
}
p:last-child,
address:last-child,
li:last-child {
  margin-bottom: 0;
}
strong {
  font-weight: 500;
}
.link,
a {
  color: #3369e8;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .link:hover,
  a:hover,
  .link:focus,
  a:focus {
    color: #b12;
  }
}
.link:active,
a:active {
  color: #b12;
}
.link:visited,
a:visited {
  color: #848;
}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
  cursor: default;
}
