// In the variables all the variables are set using
// the ?= operator. That allows the value to be set
// only if it was not set already by the site level
// Stylus variables.


// ANIMATION
$var-animation-timer ?= 0.3s


/// COLOUR PALLET
$color-rock ?= #353535  //dark green
$color-skye ?= #3c6e71 //blue
$color-pulp ?= #ffffff //green
$color-jesse ?= #EEEEEE //yellow
$color-dozy ?= #284b63 //red


$color-cube ?= #EFEEED //lightest grey - sitebackground
$color-boris ?= #C8CACC //grey nav
$color-coral ?= #1E1B1B //grey nav text
$color-moggy ?= #58595B //grey icons
$color-woozy ?= #F6F6F6 //super light grey
$color-april ?= #F26522 //orange
$color-sunset ?= #f15f56 //reddish orange
$color-candy ?= #ff9393; // light orange
$color-june ?= #f4793f //pastel orange
$color-jade ?= #00A14B //green
$color-sugar ?= #BB1122 //red
$color-curvy ?= #884488 //purple
$color-mist ?= #FFFFFF //white
$color-murphy ?= #000000 //black
$color-storm ?= transparent //transparent






// LINKS
$color-link ?= $color-jesse
$color-hover ?= $color-sugar
$color-visited ?= $color-curvy


// FONT / TEXT
$var-site-text ?= 'Roboto', helvetica, arial, sans-serif
$var-text-light ?= 300
$var-text-regular ?= 400
$var-text-medium ?= 500
$var-text-bold ?= 700
$color-font ?= $color-rock
$color-font-secondary ?= lighten($color-rock,30)
$color-font-disabled-hint ?= lighten($color-rock,70)
$size-12 ?= 12px
$size-14 ?= 14px
$size-16 ?= 16px
$size-18 ?= 18px
$size-20 ?= 20px
$size-22 ?= 22px
$size-24 ?= 24px
$size-26 ?= 26px
$size-30 ?= 30px
$size-34 ?= 34px



// BUTTONS
$color-button-text ?= $color-mist
$color-button ?= $color-rock
$color-button-hover ?= lighten($color-skye,40)
$color-button-active ?= $color-jesse
$color-button-secondary ?= $color-rock
$color-button-alert ?= $color-april
$color-button-disabled ?= lighten($color-rock,60)
$color-button-transparent ?= $color-storm
$color-button-transparent-text ?= $color-jesse