body

    font-family $var-site-text
    font-size $size-16
    font-weight $var-text-light
    color $color-font

p
address
li

    line-height 22px
    margin-bottom 10px

    &:last-child

        margin-bottom 0

strong

    font-weight $var-text-medium


.link
a
	
    color $color-link
    text-decoration none
    cursor pointer

    &:hover
    &:focus

        +above(m)

            color $color-hover

    &:active

        color $color-hover

    &:visited

        color $color-visited

a[href^=tel]

    color inherit
    text-decoration none
    cursor default
